* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* text format */
.text-dark-grey {
    color: #444851;
}

.text-white {
    color: #ffffff;
}

.text-grey {
    color: grey;
}

.text-green {
    color: #64C0A9;
    ;
}

.text-red{
    color: red;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.text-smaller {
    font-size: .7rem;
}

.text-sm {
    font-size: .85rem;
}

.text-lg {
    font-size: 1.2rem;
}

.text-2xl {
    font-size: 3rem;
}

/* bg-color */
.bg-light-grey {
    background-color: #e5e9eb;
}

.bg-grey {
    background-color: #c3c7ca;
}

.bg-white {
    background-color: #ffffff;
}

.bg-lightblue {
    background-color: #47ADF1;
}

.bg-violet {
    background-color: #9C72E4;
}

.bg-green {
    background-color: #64C0A9;
}

.bg-orange {
    background-color: #F29E33;
}

.bg-pink {
    background-color: #D863A1;
}

.bg-yellow-green {
    background-color: #B0C926;
}

/* block elements structure */
.bd-radius-12 {
    border-radius: 12px;
}

.bd-radius-6 {
    border-radius: 6px;
}

.bd-radius-full {
    border-radius: 999px;
}

.padding-5-10 {
    padding: 5px 10px;
}

.border-grey {
    border: 2px solid #c3c7ca;
}

.border-green {
    border: 2px solid #64C0A9;;
}

.border-red {
    border: 2px solid red;
}

.inline-block {
    display: inline-block;
}

.icon-w-h{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.mb-large-spacing{
    margin-bottom: 80px;
}
.mb-medium-spacing{
    margin-bottom: 605px;
}
.mb-very-thin-spacing{
    margin-bottom: 2px;
}
.ml-medium-spacing{
    margin-left: 20px;
}
.ml-thin-spacing{
    margin-left: 10px;
}
.mr-thin-spacing{
    margin-right: 5px;
}
/* container */
.container {
    /* border: 2px solid red; */
}
/* header */
header img {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

/* main */
.list-container {
    /* border: 2px solid green; */
    max-width: 700px;
    margin-inline: auto;
    padding: 20px 40px;
}

.task-container > div {
    margin-bottom: 20px;
    margin-left: 5px;
}

.task-container > div > div {
    margin-bottom: 10px;
}

.task-container h2 {
    margin-bottom: 10px;
}

.buttons-container{
    /* border: 1px solid blue; */
}

.task-container{
    /* border: 1px solid red; */
}